.testing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1024px;
}

.card {
    height: 200px;
    width: 100px;
}

footer {
    height: 60px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.footer-ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;



}

.footer-ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

#some-box {
    background: #fff;
    padding: 40px 0px 80px;
    font-family: 'Open Sans', sans-serif;
}

#some-box h1 {
    text-align: center;
}

#some-box h3 {
    font-size: 50px;
}

#some-box a {
    color: #70BCB8;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

#some-box a:hover {
    color: #8E7BB2;
}


article.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 0;
    /* background-color: green; */
}

article.row div {
    width: 49.4%;
    display: inline-block;
    position: relative;
    border: 1px solid white;
}

.artical-img{
    height: 250px;
    width: 300px;
}

#subBtn {
    margin-top: 25px;
}

.cardText {
    border-radius: 10px;
}


@media(max-width:750px) {

    /* This resizes the divs that contain your content to fill the width of the page so that they stack vertically */
    article.row div {
        min-width: 300px;
        width: 90%;
        margin: 0 5%;
        text-align: center;

    }

}